<section class="contact-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12" data-aos="fade-up" data-aos-once="true">
                <p>
                    SHS VIDYALAYA <br>
                    Pillar No. 102, 501 Karwan Sahu Road,<br>
                    Attapur, Hyderabad, Telangana 500008
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" data-aos="fade-up" data-aos-once="true">
                <p>
                    +91 9111 399 399<br>
                    admissions@shs.com<br>
                    enquiry@shs.com
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" data-aos="fade-up" data-aos-once="true">
                <div>
                    <div class="social-net">
                        <ul>
                            <li><a routerLink="shsStory" routerLinkActive="active" skipLocationChange=true>
                                    SHS VIDYALAYA story
                                </a>
                            </li>
                            <li><a routerLink="shsCulture" routerLinkActive="active" skipLocationChange=true>
                                    SHS VIDYALAYA Culture
                                </a>
                            </li>
                            <li><a routerLink="shsEdge" routerLinkActive="active" skipLocationChange=true>
                                    SHS VIDYALAYA Edge
                                </a>
                            </li>
                            <li><a routerLink="JoinshsPride" routerLinkActive="active" skipLocationChange=true>
                                    Join SHS VIDYALAYA Pride
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>