.panel-heading, .panel-body  {
	border: none;
	text-align: center;
}

.section-about, .clients, .gallery, .trusty, .section-spacing{
	padding:70px 0;
	h1{
		margin-bottom:40px;
	}
}

$red:#b9646e;
$blue:#276caa;
$green:#4bbb57;

.icon-circle{
	height:90px;
	width:90px;
	border-radius:50%;
	margin:0 auto;
	i{
		line-height:90px;
	}
	
}

.section-nofify{
	background: #f7a05c;
	.panel{
		padding:25px 0;
	}
	.red{
		background: #f44336;
	}
	.icon-circle{
		background: #fff;
	}
	h5{
		margin-top:25px;
		color:#fff;
	}
}

.section-info{
	.panel-container{
		min-height: 230px;
		margin-bottom:15px;
		perspective: 1000px;
		overflow:hidden;
		&:hover .panel{
			transform: rotateX(180deg);
		}
	}
	.panel{
		color:#fff;
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		transition: transform 1s ease;
		transform-style: preserve-3d;
		.panel-front{
			border-top: 5px solid;
			padding-top: 25px;
			z-index: 1;
			&::after{
				content:'';
				position: absolute;
				width:100%;
				height:100%;
				background:rgba(0,0,0,.5);
				top: 0;
				left: 0;
				z-index: -1;
			}
			&.red{
				background:url(../../assets/images/1.jpg) no-repeat top center;
				border-color: $red;
				.circle-bg{
					background-color:$red;
				}
			}
			
			&.blue{
				background:url(../../assets/images/2.jpg) no-repeat top center;
				border-color: $blue;
				.circle-bg{
					background-color:$blue;
				}
			}
			
			&.green{
				background:url(../../assets/images/3.jpg) no-repeat top center;
				border-color: $green;
				.circle-bg{
					background-color:$green;
				}
			}
		}

		.panel-back{
			padding-top: 25px;
			&.red{
				background-color:$red;
			}
			
			&.blue{
				background-color:$blue;
			}
			
			&.green{
				background-color:$green;
			}
		}
	
		.panel-front, .panel-back{
			position: absolute;
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
		}
		.panel-back
		{
			transform: rotateX(180deg);
			p{
				padding:0 25px 25px;
			}
			a{
					
				display:block;
				color:#f7a05c;
				font-size:16px;
				cursor: pointer;
			}
		}
		h5{
			margin:20px 0;
			color:#fff;
		}
		p{
			margin:0;
			
		}
	}
	h6{
		margin-bottom:40px;
	}

	svg{
		fill:#fff;
	}
}

.trusty{
	background-color: rgba(247, 247, 247, .5);
	.slick-slide{
		text-align: center;
		img{
			border-radius:50%;
			overflow:hidden;
			width:80%;
			height:80%;
			margin:0 auto;
		}
		h6{
			margin-bottom:0;
			margin-top:15px;
			line-height:18px;
		}
		
	}
}

.clear-float{
	clear:both;
	float:none;
}

.picsum-img-wrapper{
	img{
		width:100%;
	}
}

.gallery{
	background-color:rgba(204, 204, 204, 0.2);
	.panel{
		margin-bottom: 15px;
		h5{
			color:#88cedb;
		}
		p{
			padding:10px 0;
			text-align:left;
			a{
				color:#f7a05c;
			}
		}
		img{
			height:200px;
		}
	}

}

@media (max-width: 576px){
	.main-banner{
		display:none;
	}
}