<div class="main-banner">
    <a class="navbar-brand" routerLink="home" skipLocationChange=true>
      <div class="logo-container">
        <img src="assets/images/tulshi-logo-flat.png">
      </div>
    </a>
    <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
      <ng-template ngbSlide *ngFor="let info of banner; index as i">
        <div class="container">
          <!-- <div class="carousel-caption">
            <h3>{{info.title}}</h3>
            <h3>{{info.title_2}}</h3>
            <p>{{info.description}}</p>
            <button type="submit" class="btn btn-primary">LEARN MORE</button>
            <button type="submit" class="btn btn-warning">CONTACT US</button>
          </div> -->
        </div>
        <a>
          <div class="picsum-img-wrapper">
            <img src="assets/images/banner1.jpg" alt="My image {{i + 1}} description">
          </div>
        </a>
      </ng-template>
    </ngb-carousel>
  </div>
  

 

<section class="section-about">


    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>WELCOME TO <span class="heading-highlight">SHS VIDYALAYA</span></h1>
                <h6>
                    <b>The ultimate objective behind our every move is to give our customers utmost satisfaction with
                        our
                        quality services and support.</b><br>
                    We try the best possible way out to provide our customers with top-notch services and at affordable
                    rates. <br>So, give us a Oppurtunity to serve you !
                </h6>
            </div>

          
        </div>
    </div>
</section>

<section class="section-info">
    <div class="container">
        <div class="row">
            
            <div *ngFor="let item of solution" class="col-lg-4 col-md-4 col-sm-12 panel-container">
                <div class="panel">
                    <div class="panel-front {{item.color}}">
                        <div class="panel-heading">
                            <div class="icon-circle circle-bg">
                                <i class="icon icon-medium">
                                    <svg focusable="false">
                                        <use attr.xlink:href="{{item.icon}}"></use>
                                    </svg>
                                </i>
                            </div>
                            <h5>{{item.title}}</h5>
                        </div>
                        
                    </div>
                    <div class="panel-back {{item.color}}">
                        <h5>{{item.title}}</h5>
                        <p>{{item.description}}
                        </p>
                        <a (click)="gotoPage(item.title)">Read More >></a>
                        
                    </div>
                </div>
            </div>

        </div>

        <div class="row section-spacing">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="assets/images/tulshi-logo.png">
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                <h6>
                    सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध
                    जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय
                    मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत
                    सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है |
                    कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं |<br><br>
                    सूचना को यथासंभव सही रूप में उपलब्ध कराने का हर संभव प्रयास किया गया है | इस वेबसाइट पर उपलब्ध
                    जानकारी में अशुद्धता के कारण किसी भी व्यक्ति को होने वाली किसी भी प्रकार की हानि के लिए केन्द्रीय
                    मृदा एवं सामग्री अनुसंधानशाला, जल संसाधन, नदी विकास और गंगा संरक्षण विभाग, जल शक्ति मंत्रालय, भारत
                    सरकार जिम्मेदार नहीं होगा | किसी भी स्पष्टीकरण के लिए सी.एस.एम.आर.एस. से परामर्श लिया जा सकता है |
                    कोई भी अनियमितता होने पर उसे सी.एस.एम.आर.एस. के संज्ञान में लाएं |
                </h6>

                    <button type="submit" class="btn btn-warning">Read more</button>
            </div>

        </div>
    </div>
</section>

<section class="section-nofify">
    <div class="container">
        <div class="row">
        <div *ngFor="let item of notify" class="col-lg-4 col-md-4 col-sm-12 {{item.color}}">
            <div class="panel">
                <div class="panel-front">
                    <div class="panel-heading">
                        <div class="icon-circle">
                            <i class="icon icon-medium">
                                <svg focusable="false">
                                    <use attr.xlink:href="{{item.icon}}"></use>
                                </svg>
                            </i>
                        </div>
                        <h5>{{item.title}}</h5>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>

  

<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>चित्र <span class="heading-highlight">प्रदर्शनी </span></h1>
            </div>
            <div *ngFor="let item of gallery; index as i" class="{{item.class}} col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <img src="assets/images/gallery{{i+1}}.jpg">
                    </div>
                    <div class="panel-body">
                        <p>{{item.description}}/ <a>
                            अधिक पढ़ें >></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clear-float"></div>
<section class="trusty">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <h1>हमारे <span class="heading-highlight">ट्रस्ट सदस्य </span></h1>
             </div>

            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let list of trustmember; index as i" class="slide col-lg-3 col-md-3 col-sm-12">
                    <img src="assets/images/trust-img-{{i+1}}.jpg" alt="" width="100%">
                    <h6>{{list.name}}</h6> 
                    <p>{{list.post}}</p>
                    <p> {{list.desc}}</p>
                </div>
            </ngx-slick-carousel>
            </div>
    </div>
</section>
